<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  by Michael Hartl is a project to make a book and screencasts to teach web 
  development with <a href="http://rubyonrails.org/">Ruby on Rails</a>. 
</p>
<p>
  This starter app is based on the original sample application for the 
  tutorial, for which the 
  <a href=<%= license_url %>>license information</a> 
  has been included. It will hopefully be used to help teach beginning and 
  intermediate Ruby on Rails through the 
  <a href=http://railsbridge.org>RailsBridge.org outreach program</a>, 
  getting more women into coding.
</p>