<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  There is no formal contact yet for this starter application, but if you are feeling
  lucky or adventurous you could attempt sending a message to 'intuedge.starter.app [at] gmail.com'.
</p>
<p>
  Contact the Ruby on Rails Tutorial folks about the original sample app at their
  <a href="http://railstutorial.org/contact">contact page</a>.
</p>