<% provide(:title, 'Licensing') %>
<h1>License Information</h1>
<p>
  The <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> by Michael 
  Hartl is a project to make a book and screencasts to teach web development
  with <a href="http://rubyonrails.org/">Ruby on Rails</a>. This starter app
  is based on the original sample application for the tutorial, the source code 
  of which Michael has generously made broadly available, jointly under the MIT 
  License and the Beerware License, which are reproduced below, as per his 
  instructions. 
</p>
<blockquote>
  <p>
    The MIT License
  </p>
  <br />
  <p>
    Copyright (c) 2012 Michael Hartl
  </p>
  <br />
  <p>
    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:
  </p>
  <br />
  <p>
    The above copyright notice and this permission notice shall be included in
    all copies or substantial portions of the Software.
  </p>
  <p>
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
    THE SOFTWARE.
  </p>
</blockquote>
<pre>
  /*
  * ----------------------------------------------------------------------------
  * "THE BEER-WARE LICENSE" (Revision 42):
  * Michael Hartl wrote this code. As long as you retain this notice you
  * can do whatever you want with this stuff. If we meet some day, and you think
  * this stuff is worth it, you can buy me a beer in return.
  * ----------------------------------------------------------------------------
  */
</pre>